/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
/.lein-plugins
/.lein-cljsbuild-*
/resources/private/integration.js
/resources/private/core.js
/resources/public/examples.js
/.DS_Store
/target
